<?php 
	$swatchData = $block->getSwatchData();
	$attribute_code_selected = ($block->getRequest()->getParam($swatchData['attribute_code'])) ? $block->getRequest()->getParam($swatchData['attribute_code']) : 0;
?>
<div class="swatch-attribute swatch-attribute-cusmtom-style swatch-layered <?php /* @escapeNotVerified */ echo $swatchData['attribute_code'] ?>"
     attribute-code="<?php /* @escapeNotVerified */ echo $swatchData['attribute_code'] ?>" attribute-id="<?php /* @escapeNotVerified */ echo $swatchData['attribute_id'] ?>">
    <div class="swatch-attribute-options clearfix">
        <?php foreach ($swatchData['options'] as $option => $label): ?>
            <a href="<?php /* @escapeNotVerified */ echo $label['link'] ?>" class="swatch-option-link-layered">
                <?php if (isset($swatchData['swatches'][$option]['type'])) { ?>
                    <?php switch ($swatchData['swatches'][$option]['type']) {
                        case '3':
                            ?>
                            <div class="swatch-option <?php /* @escapeNotVerified */ echo $label['custom_style'] ?>"
                                 option-type="3"
                                 option-id="<?php /* @escapeNotVerified */ echo $option ?>"
                                 option-label="<?php /* @escapeNotVerified */ echo $label['label'] ?>"
                                 option-tooltip-thumb=""
                                 option-tooltip-value=""
                                ><?php echo ($attribute_code_selected == $option && $attribute_code_selected > 0) ? '<span class="active"></span>' : '';?></div>
                            <?php    break;
                        case '2':
                            ?>
                            <?php $swatchThumbPath = $block->getSwatchPath('swatch_thumb',
                            $swatchData['swatches'][$option]['value']); ?>
                            <?php $swatchImagePath = $block->getSwatchPath('swatch_image',
                            $swatchData['swatches'][$option]['value']); ?>
                            <div class="swatch-option image <?php /* @escapeNotVerified */ echo $label['custom_style'] ?>"
                                 option-type="2"
                                 option-id="<?php /* @escapeNotVerified */ echo $option ?>"
                                 option-label="<?php /* @escapeNotVerified */ echo $label['label'] ?>"
                                 option-tooltip-thumb="<?php /* @escapeNotVerified */ echo $swatchThumbPath ?>"
                                 option-tooltip-value=""
                                 style="background: url(<?php /* @escapeNotVerified */ echo $swatchImagePath ?>) no-repeat center; background-size: initial;"><?php echo ($attribute_code_selected == $option && $attribute_code_selected > 0) ? '<span class="active"></span>' : '';?></div>
                            <?php    break;
                        case '1':
                            ?>
                            <div class="swatch-option color <?php /* @escapeNotVerified */ echo $label['custom_style'] ?> <?php echo strtolower($label['label']); ?>"
                                 option-type="1"
                                 option-id="<?php /* @escapeNotVerified */ echo $option ?>"
                                 option-label="<?php /* @escapeNotVerified */ echo $label['label'] ?>"
                                 option-tooltip-thumb=""
                                 option-tooltip-value="<?php /* @escapeNotVerified */ echo $swatchData['swatches'][$option]['value'] ?>"
                                 style="background: <?php /* @escapeNotVerified */ echo $swatchData['swatches'][$option]['value'] ?> no-repeat center; background-size: initial;"><?php echo ($attribute_code_selected == $option && $attribute_code_selected > 0) ? '<span class="active"></span>' : '';?></div>
                                 <label class="name"><?php echo $label['label']; ?></label>
                                 <span class="count">1</span>
                            <?php    break;
                        case '0':
                        default:
                            ?>
                                <div class="swatch-option text <?php /* @escapeNotVerified */ echo $label['custom_style'] ?>"
                                     option-type="0"
                                     option-id="<?php /* @escapeNotVerified */ echo $option ?>"
                                     option-label="<?php /* @escapeNotVerified */ echo $label['label'] ?>"
                                     option-tooltip-thumb=""
                                     option-tooltip-value=""
                                    ><?php /* @escapeNotVerified */ echo $swatchData['swatches'][$option]['value'] ?><?php echo ($attribute_code_selected == $option && $attribute_code_selected > 0) ? '<span class="active"></span>' : '';?></div>
                            <?php    break;
                    } ?>
                <?php } ?>
            </a>
        <?php endforeach; ?>
    </div>
</div>