

@media (min-width: 1200px){
.products-grid ol > li:nth-of-type(3n+1) {  clear: left;} 
  
}

@media (max-width: 1199px) and (min-width: 640px){
	.products-grid ol > li:nth-of-type(3n+1) { clear: left;}
	.owl-theme .owl-pagination {
		display: none;
	}
	.title-category-dropdown span:after {
		margin-left: 5px;
	}
}
@media (max-width: 639px) and (min-width: 480px){
	.product-grid .item-inner:nth-child(3n+1){ clear: none;}
.products-grid ol > li:nth-of-type(2n+1) {clear: left;}
.products-grid ol > li{width: 50%;}   
}

@media (max-width: 479px) and (min-width: 0px){
.products-grid ol > li:nth-of-type(1n+1) {clear: left;}
.products-grid ol > li{width: 100%;}  
}
@media(max-width: 1199px){
	.section-bestseller .categorytab-container h4 {
		width: 33.3%;	
	}
	.title-catthum {
		width: 36%;
	}
	.section-featured-categories .wrap-category .owl-item .wp-item .item {
		min-height: 235px;
	}
	.bg-image{
		min-height: 330px;
	}
	.footer-container.layout2 .section-footer-top .block-social{ padding-left: 40px;}
	.header-container .header-content .main-header .top-menu{ padding-left: 50px;}
	.list-service .box-icon {text-align: center;}
	.list-service .box-icon .icon { width: 100%; margin: 0 0 10px 0;}
}


@media(min-width: 992px){
	.group-product .rokan-product-heading h2 {
		width: 25%;
	}
	.section-bestseller .tab_container .item-product {
		clear: both;
		overflow: hidden;
	}
}
@media (max-width: 991px) {
	#newsletter_pop_up .content-popup .form.subscribe {
		right: 105px;
	}
	body #quick-window {
		width: 90%;
	}
	.text_form {
		line-height: 50px;
	}
	.form-newletter .search_input {
		margin: 0 0 25px;
	}
	.form-newletter .subscribe {
		top: 0;
	}
	.footer-container.layout2.footer {
		.text_footer >div:nth-child(2n+1) {
			clear: both;
		}
	}
	.title-catthum {
		width: 50%;

	}
	.group-product .rokan-product-heading h2 {
		width: 33%;
	}
	.footer-container.layout2.footer .text_footer>div{ margin-bottom: 30px; }

	.list-category-dropdown>li>a img{ display: none;}
	.list-service .box-icon {margin-bottom: 30px;}
	.footer-box {margin-bottom: 20px;}
	.page-footer .footer-container {padding-top: 20px;}
	.page-footer .footer-container .footer-box-contact .fa {margin-top: 5px;}
	.verticalmenu.navigation.side-verticalmenu .our_categories{
		padding:19px 10px
	}
	.verticalmenu.navigation.side-verticalmenu > ul li.level0{
		padding: 0 10px;
	}
	.verticalmenu.navigation.side-verticalmenu > ul li.level0 > a{
		padding: 10px 0;
	}
	.header-container{
		.header-content{
			.top-bar-left{
				.switcher,
				.top-left-static {
					float: none;
					display: inline-block;
				}
			}
			.top-bar-right{
			    .top-info,
			    .top-contact {
			    	float: none;
			    	display: inline-block;
			    }
			    .top-contact {
			    	&:after {
			    		display: none;
			    	}
			    }
			}
			.main-header{
				text-align: center;
				.logo{
					float: none;
					margin-bottom: 30px;
					max-width: 100%;
					text-align: center;
					display: block;
					img{
						margin: 0 auto;
					}
				}
				.top-menu{
					padding-left: 0;
				}
			}
		}
	}	
	.header-container .header-content .top-bar-right .top-bar-menu{
		table-layout: fixed;
		width: 100%;
	}
	.link-follow{ text-align: left;}
	.footer-container.layout2 .section-footer-top .block-social{ padding-left: 70px;}
	.page-footer .footer-container .footer-copyright .payment{ text-align: center;}
	.logo-footer,
	.page-footer .footer-static-container .footer-static .footer-links h2{ margin-top: 30px;}
	.footer-newletter,
	.footer-copyright{ text-align: center;}
	.page-footer .footer-copyright .copyright{ float: none; margin-bottom: 20px; display: block;}
	.page-footer .footer-copyright .footer-payment{ float: none; text-align: center; margin-top: 20px;}
	.page-footer .footer-newletter .footer-payment{ float: none; margin-top: 20px; text-align: center;}
	.footer-primary-column-3{ clear: left;}
	.slider_left-slider .owl-theme .owl-pagination { left: 40px; right: auto;}
	.owl-theme .owl-controls .owl-buttons .owl-next{ right: 15px;}
	.owl-theme .owl-controls .owl-buttons .owl-prev{ left: 15px;}

	.smart-search {
		margin: 10px 0 0;
	}
	.hot-deal {
		.bs-banner.block-banner-text {
			text-align: center;
		    margin-top: 10px;
		}
	}
		.section-bestseller .categorytab-container .computer-laptop {
		width: 100%;
	    margin-bottom: 50px;
	}
	.section-bestseller .categorytab-container .vc_tta-tabs-container {
		top: 55px;
		left: 0;
	}
	.section-bestseller .categorytab-container .vc_tta-tabs-container .tabs li {
		margin-right: 30px;
		margin-left: 0;
	}
	.header-content.sticky .sticky-main { 
		display: none;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	#layered_ajax_price_text .to_fixed {margin-left: 0 !important;}
	#layered_ajax_price_text .from_fixed {margin-right: 0 !important;}

}	
@media (min-width: 768px){ 
	.main-nav > ul > li > a { padding: 0 !important; }
 }

@media(max-width: 767px){
	body #quick-window .quick-view-content .detail-info-product-view {
		width: 100%;
		float: none;
	}
	body #quick-window .quick-view-content .product.media {
		width: 100%;
	}
	.attr-info .addcart-link,
	.product-social-extra {
		margin: 10px 0 0 60px;
	}
	.wp-header>div {
		display: inline-block;
		width: 100%;
	}
	div.logo {  float: none;padding-top: 20px; }
	.smart-search {
		margin-top: 20px;
	}	
	.header-container .header-content .main-header .top-menu,
	.owl-theme .owl-buttons{ display: none;}
	.header-container{ text-align: center;}
	.header-container .header{ margin:0;}
	.header-container .header-content{
		position: static;
		z-index: 0;
	}
	.search-by-cateogry .form.minisearch .control .search-text-box{
		padding-left: 0;
	}
	.top-menu{
		position: static;
		z-index: 0;
	}
	.nav-toggle{
		display: table-cell;
		vertical-align: middle;
		top: -38px;
	}
	.header-control{
		position: relative;
	}
	.top-search {
		float: right;
	}
	.smart-search {
		margin-left: 42px;
		width: 94%;
	}
	.header-control.header-nav {
		background: #fff;
	    position: absolute;
	}

	.block-banner-text {
		display: block;

		a img {
			width: 100%;
		}
	}
	.banner-top-home .fadeInUp {
		margin-left: 0;
	    margin-right: 0;
	    padding-right: 18px;
	    margin-bottom: 10px;
	}
	.banner-top-home .fadeInRight {
	    padding-left: 14px;
	    padding-right: 17px;
	}
	
	.banner-top-home .block-banner-text {
		display: block;
	}
	.header-container .header-content .minicart-wrapper {
		position: absolute;
		top: -50px;
		right: 20px;

	}
	.product-grid li {
		width: 50%;
	}

	.banner-big-left div { margin-bottom: 10px;}

	.category-dropdown{ position: static; }
	.list-category-dropdown>li:hover>a::before { display: none;}
	.verticalmenu.navigation.side-verticalmenu>ul li.level0:hover>a {background: none; }
	.verticalmenu.navigation.side-verticalmenu>ul li.level0 .level0.submenu .subchildmenu>li.level1>a {border-left: none; padding: 10px 0; font-weight: 700;}
	.nav-open .verticalmenu.navigation.side-verticalmenu{display: block; width: 100%; position: relative;}
	.verticalmenu.navigation.side-verticalmenu>ul {display: block !important;}
	.verticalmenu.navigation.side-verticalmenu>ul li.level0:hover .level0.submenu {left: 0 !important;}
	.verticalmenu.navigation.side-verticalmenu>ul li.level0 .level0.submenu {left: 0 !important;}
	.verticalmenu.navigation.side-verticalmenu>ul li.level0>a {padding: 10px;}
	.verticalmenu.navigation.side-verticalmenu>ul li.level0>a.ui-state-active::after {-ms-transform: rotate(90deg); -webkit-transform: rotate(90deg);transform: rotate(90deg);}
	.navigation{ max-width: 100%;}
	.navigation .level0 > .level-top{
		    display: block;
	    color: #333;
	    padding: 14px 20px;
	    text-decoration: none;
	    text-transform: uppercase;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	    -webkit-transition: all 0.25s ease;
	    -o-transition: all 0.25s ease;
	    transition: all 0.25s ease;
	    font-size: 14px;
	    font-weight: 700;
	    text-transform: uppercase;
	}
	.navigation .submenu:not(:first-child) ul > li a{
		text-transform: none;
		font-family: @bdf;
	}
	.navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top, .navigation .level0 > .level-top:hover{
		border-bottom: 1px solid rgba(0, 0, 0, 0.05)
	}
	.navigation li.level0:last-child{ border: 0;}
	.nav-sections{ width: 250px;}
	.navigation li.level0{ margin-right: 0; border: 0;}
	.navigation{ padding: 0; float: none;}
	.navigation .parent .level-top:after{
		font-family: FontAwesome;
		content: "\f107";
		color: #333;
		font-size: 14px;
		float: right;
		position: static;
	}
	.navigation .parent .level-top.ui-state-active:after{ content: "\f105"}
	.navigation .level0 .submenu{ box-shadow: none; padding-top: 0;}
	.navigation .level0 .submenu a{
		font-size: 12px;
		text-transform: uppercase;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.custommenu.navigation li.ui-menu-item{
		display: block;
	}
	.custommenu.navigation li.level0.fullwidth > .submenu{
		padding: 0;
	}
	.custommenu.navigation li.ui-menu-item > a{
		text-align: left;
	}

	.verticalmenu.navigation.side-verticalmenu{
		> ul{
			li.level0{
				display: block;
				.level0.submenu{
					padding: 0;
				}
			}
		}
	}
	
	.catalog-product-view .column.main{ width: 100%;}
	.banner_item_bg { background-size: cover;}
	.static-banner a{ display: block;}
	
	.product-list .item-product {max-width: 400px; margin: 0 auto;}
	.section-bestseller .categorytab-container {margin-left: 0;}

	.page-footer .footer-static-container .footer-static .footer-links.contacts .title{
		display: block;
	}
	.page-footer .footer-static-container .footer-static .footer-links .title{
		position: relative;
	}
	.page-footer .footer-static-container .footer-static .footer-links .title:before{
		display: none;
		
	}
	.page-footer .footer-static-container .footer-static .footer-links .title{
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.page-footer .footer-static-container .footer-static .footer-links .title.clicked{
		padding-bottom: 20px;
		margin-bottom: 30px;
	}
	.page-footer .footer-static-container .footer-static .footer-links .title.clicked:before{
		display: block;
	}
	.page-footer .footer-static-container .footer-static .footer-links .title:after{
		content: "\f067";
		font-family: FontAwesome;
	    font-size: 12px;
	    float: right;
	    line-height: 30px;
        width: 30px;
	    height: 30px;
	    text-align: center;
	    color: #333333;
	    background: @bordercolor;
	    cursor: pointer;
	}
	.page-footer .footer-static-container .footer-static .footer-links .title:hover:after{
		background: @maincolor;
		color: #fff;
	}
	.page-footer .footer-container .list-footer-box { text-align: center; }
	.page-footer .footer-container .footer-box-contact li {padding-left: 0;}
	.page-footer .footer-container .footer-box-contact li i {display: none;}
	.page-footer .footer-container .footer-box li { margin-bottom: 0; }
	.nav-toggle:before{ color: #8f8f8f;}
	.nav-toggle:hover:before{ color: #8f8f8f;}
	.list-tags-category {margin-top: 20px;}
	.item-tags-category h2 {display: block; margin-bottom: 10px;}
	.item-tags-category ul {display: block; padding: 0;}

	.smart-search #choose_category {padding: 10px;}
	.store-item .left-store {margin-bottom: 20px;}
	.store-item .store-image iframe{width: 100%;}
	.fadeInRight {
		margin-top: 10px;
	}
	
}
@media only screen and (max-width: 639px){
	.header-container .header-content .minicart-wrapper .block-minicart{ right: -15px;}
	.header-container .header-content .top-bar-right .top-bar-menu > li .minicart-wrapper, .header-container .header-content .top-bar-right .top-bar-menu > li > a{
		padding: 20px 50px;
	}
	.search-by-cateogry .form.minisearch .control .chosen-container, .search-by-cateogry .form.minisearch .control #choose_category{
		max-width: 130px;
	}
	.search-by-cateogry .form.minisearch .control .chosen-container a, .search-by-cateogry .form.minisearch .control #choose_category a{ padding: 6px;}
}
@media(max-width: 680px){ 
   .footer-bottom >div >div >div {
	width: 100%;
	text-align: center;
	}
	.payment-method {
		text-align: center;
	}
	.top-header .switcher .switcher-options {
		padding-right: 16px;
	}
	.top-account ul li a {
		padding: 0 16px;
	}
}

@media(max-width: 640px){
	.product-grid{
	    .product-item{ 
	        max-width: 400px;
	        margin: 0 auto 50px;
	        clear: both;
	        float: none;
	        display: block;
	        width: 100%;
	        img {
	        	width: 100%;
	        }
	    }
	}
    .title-catthum {
    	width: 55%;
    }
    .section-bestseller .categorytab-container h4 {
    	width: 100%;
    }
}
@media(max-width: 480px){
	.list-service .introduct-service {
		position: unset;
	}
	.hot-deal{
		margin-top: 80px;
	}
	.header-container .header-content .top-bar-left, .top-bar-right { float: none; }
	.top-bar-left {
		.switcher.language.switcher-language {
			margin-left: 26px;
		}
	}
	.header-container .header-content .top-bar-right {
		 float: none;
		 border-top: 1px solid @bordercolor; 
	}
	.smart-search {
		margin-left: 40px;
	    width: 91%;
	}
	.smart-search-form input[type=text] {
		padding-left: 25px;
	}
	.title-catthum, .group-product .rokan-product-heading h2 {
		width: 100%;
	}
	.product-tab .list-tab-product .box-title .tabs li {
		width: 100%;
		margin-bottom: 5px;
	}
	.section-bestseller .tab_container .item-product {
		clear: both;
		overflow: hidden;
	}
	.introduct_service div {
		width: 50%;
	}
	.footer-container.layout2.footer .text_footer>div {
		width: 100%;
	}
	.hot-deal-tab >div{
		width: 100%;
	}
	.hot-deal .hot-deal-tab-slider.hot-deal-tab-slider-customcss .hot-deal-image {
		padding: 0;
		text-align: center;
	}
	.hot-deal .hot-deal-tab-slider.hot-deal-tab-slider-customcss .woocommerce-hot-deal {
		padding: 0 40px 40px 40px;
	}
	.hot-deal .hot-deal-tab-slider.hot-deal-tab-slider-customcss .woocommerce-hot-deal .onsale {
		top: -252px;
	}
	.main-nav>ul>li>a:first-child {
		padding-left: 0;
	}
	
	.form-newletter .subscribe {padding: 7px 30px;}
	.owl-controls{ display: none;}
	.block.newsletter .content{ padding: 30px; padding-top: 80px;}
	.block.newsletter .content .actions .action.subscribe{ float: left; }
	.header-container .header .block-search .block-content .dropdown .dropdown-menu{ width: 270px;}
	.header-container .header-content .top-bar-right .top-bar-menu > li .minicart-wrapper, .header-container .header-content .top-bar-right .top-bar-menu > li > a{
		padding: 20px;
	}
	.header-container .header-content .top-bar-left .form-search-wapper,
	.header-container .header-content .top-bar-left .logo{
		width: 100%;
		display: block;
		overflow: hidden;
	}
	.header-container .header-content .minicart-wrapper {
		top: -60px;
	}
	.product-tab .tab_container .item-product {width: 100%;}
	.smart-search .select-category {display: none; }
	.smart-search .chosen-container-single .chosen-single span { margin-right: 0; }
	.smart-search .search-by-cateogry .chosen-container-single .chosen-single { padding-right: 0; padding-left: 0; }
	.smart-search .chosen-container-single .chosen-single div {right: -2px;}
	.smart-search .chosen-container {width: 113px !important;}
	.smart-search #choose_category {width: 102px;}
}

@media(max-width: 375px){
	.attr-info .addcart-link,
	.product-social-extra {
		margin: 10px 0 0 0px;
	} 
	.text_form {
		font-size: 22px;
	}
	.smart-search-form input[type=text] {
		width: 94%;
	}
}	
@media(max-width: 320px){
	.top-account ul li a {
	    padding: 0 5px;
		border-left: 0;
		i {
			padding-right: 0;
		}
	}
	.smart-search {
		margin-left: 0;
		width: 100%;
	}
	.smart-search-form input[type=text] {
		width: 82%;
		margin-left: 50px;
	}
	.hot-deal .hot-deal-tab-slider.hot-deal-tab-slider-customcss .woocommerce-hot-deal {
		padding: 0 7px 40px;
	}
	.title-catthum {
		padding: 10px 12px;	
		&:before {
			padding-right: 15px;
		}
	}
	.text_form { font-size: 19px;}
	.form-newletter .subscribe {
		padding: 7px 10px;
		font-size: 12px;
		font-weight: 400;
	}
	.section-bestseller .categorytab-container .computer-laptop {
		margin-bottom: 100px;
	}
	.section-bestseller .categorytab-container .vc_tta-tabs-container .tabs li {
		width: 100%;
	}
	.product-grid li {
		width: 100%;
	}
}