/* Less Variables */
@bkg: #fff;
@bkgheader: #212121;
@bkgfooter: #141414;
@maincolor:#2f3034;
@bdf: 'Lato' ,sans-serif;
@mnf: 'Poppins' ,sans-serif;
@titlefont : 'Lato' ,sans-serif;
@otherfont: 'Lato' ,sans-serif;
@primarycolor: #8e8e8e;
@secondaryColor: #2f3034;
@links: #666;
@linkshover: #30bbef;
@bordercolor :#eeeeee;
@inputtext: #fff;
@bgmenu: #fff;
@submenutext: #545559;
@popuptext: #222222;
@popupfont: 'Roboto' ,sans-serif;
@salecolor: #cd1212;

.fontMixin(){
    text-transform: uppercase;
    border: 0;
    font-family: @bdf;
    font-size: 14px;
    font-weight: 400;
    color: ##a4a7b1;;
}
.bordermixin(){
	border: 1px solid #eee;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    background: #fff;
    display: inline-block;
} 