<?php 
	$data = $block->getConfig();
    $_helper = $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig');
?>
<?php
    $charSubset = ",latin-ext";
    $font_sizes = "%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic";
?>
<?php if (isset($data['font']['custom']) && $data['font']['custom'] && $data['font']['font_family'] == 'google'): ?>
<link rel="stylesheet" media="all" href='//fonts.googleapis.com/css?family=<?php echo str_replace(' ', '+', $data['font']['google_font_family']).$font_sizes; echo $charSubset; ?>' type='text/css' />
<?php else: ?>
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700" media="all" rel='stylesheet' type='text/css'/>
<?php endif;?>
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getThemeOption()?>" />
<?php if (isset($data['general']['enable_preloaded']) && $data['general']['enable_preloaded'] == 1){ ?>
<style type="text/css">
#loading-fixed{ background-color: #bbbbbb; height: 100%; width: 100%; position: fixed; z-index: 999999; margin-top: 0px; top: 0px; } #loading-center-fixed{ width: 100%; height: 100%; position: relative; } #loading-center-absolute-fixed { position: absolute; left: 50%; top: 50%; height: 200px; width: 200px; margin-top: -100px; margin-left: -100px; -ms-transform: rotate(-135deg); -webkit-transform: rotate(-135deg); transform: rotate(-135deg); } .object-fixed{ -moz-border-radius: 50% 50% 50% 50%; -webkit-border-radius: 50% 50% 50% 50%; border-radius: 50% 50% 50% 50%; position: absolute; border-top: 5px solid #FFF; border-bottom: 5px solid transparent; border-left: 5px solid #FFF; border-right: 5px solid transparent; -webkit-animation: animate 2s infinite; animation: animate 2s infinite; } #object_one{ left: 75px; top: 75px; width: 50px; height: 50px; } #object_two{ left: 65px; top: 65px; width: 70px; height: 70px; -webkit-animation-delay: 0.2s; animation-delay: 0.2s; } #object_three{ left: 55px; top: 55px; width: 90px; height: 90px; -webkit-animation-delay: 0.4s; animation-delay: 0.4s; } #object_four{ left: 45px; top: 45px; width: 110px; height: 110px; -webkit-animation-delay: 0.6s; animation-delay: 0.6s; } @-webkit-keyframes animate { 50% { -ms-transform: rotate(360deg) scale(0.8); -webkit-transform: rotate(360deg) scale(0.8); transform: rotate(360deg) scale(0.8); } } @keyframes animate { 50% { -ms-transform: rotate(360deg) scale(0.8); -webkit-transform: rotate(360deg) scale(0.8); transform: rotate(360deg) scale(0.8); } }
</style>
<?php } ?>
<style type="text/css">
	.nav-open .nav-sections { position: fixed; }
	div.logo { display : inline; }
	.brand-item {
	    display: inline-block;
	    margin-right: 10px;
	    margin-bottom: 10px;
	    text-align: left;
	}
	.brand-item a {
	    display: block;
	    font-size: 11px;
	    text-align: center;
	}
	.brand-item a img {
	    max-width: 100px;
	    border: 1px solid #eee;
	}
		.block-content .brand-item a img  {
		max-width: 100%;
	}
	.product-tab .list-tab-product.common-tab-system-fixed .tab_container .owl-controls .owl-buttons > div,
	.section-featured-categories .owl-theme .owl-controls .owl-buttons > div {
		top: 30px;
	}
	@media (max-width: 767px){
		.header-container .header-content .minicart-wrapper .product .actions {
			top: auto;bottom: 0;
		}
	}
</style>
