 <div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-12 col-xs-12">
			<div class="hot-deal">
				<div class="banner-sale">
					<?php echo $block->getLayout()->createBlock('Rokanthemes\Superdeals\Block\ProductByCat')->setTemplate('Rokanthemes_Superdeals::category.phtml')->toHtml();?>
					<div class="banner-effect-text"><?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_sale')->toHtml();?>
					</div>
				</div>	
			</div>
			<div class="on-sale">
				<?php echo $block->getLayout()->createBlock('Rokanthemes\Onsaleproduct\Block\Onsaleproduct')->setTemplate('Rokanthemes_Onsaleproduct::onsaleproduct.phtml')->toHtml();?>
			</div>
			<div class="main-content-home">
				<div class="list-service">
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('section_services_home_2')->toHtml(); ?>
				</div>
			</div>
			<div class="insert-ads">
				<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('insert_ads')->toHtml(); ?>
			</div>
			
		</div>

		<div class="col-md-9 col-sm-12 col-xs-12">
			<div class="banner-top-home">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_top_home_2')->toHtml();?>
			</div>
			<div class="product-tab">
					<?php echo $block->getLayout()->createBlock('Rokanthemes\ProductTab\Block\Producttab')->setTemplate('Rokanthemes_ProductTab::producttab.phtml')->toHtml();?>
			</div>
			<div class="catagoryproduct-tab">
					<?php echo $block->getLayout()->createBlock('Rokanthemes\CategoryProductTab\Block\CategoryProduct')->setTemplate('Rokanthemes_CategoryProductTab::categoryproducttab.phtml')->toHtml();?>
			</div>
			<div class="banner-middle">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_middle_home_2')->toHtml();?>
			</div>
			<div class="group-product">
					<?php echo $block->getLayout()->createBlock('Magento\Catalog\Block\Product\ListProduct')->setTemplate('Magento_Catalog::product/category_bestseller.phtml')->setCategoryId(4)->toHtml();?>
			</div>
			<div class="banner-new-sale">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_new_sale')->toHtml();?>
			</div>
			<div class="section-bestseller">
					<div class="wrapper-bestseller">
						<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('Product_tab_bestseller')->toHtml();?>
					</div>
			</div>
		</div>	
	</div>
 </div>

<script type="text/javascript">
require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';
	$( document ).ready(function() {
		$("ul.tabs li").click(function() {
			$(this).closest("ul").find("li").removeClass("active");
			$(this).addClass("active");
			$(this).closest(".common-tab-system-fixed").find(".tab_content").hide();
			$(this).closest(".common-tab-system-fixed").find(".tab_content").removeClass("animate1");
			var activeTab = $(this).attr("rel");
			$("#"+activeTab) .addClass("animate1");
			$("#"+activeTab).fadeIn();
		});
		//Close Service Box
		$('.close-service-box').on('click',function(event) {
			event.preventDefault();
			$('.banner-top-home').slideUp('slow');
		});
		
		$(".block-content.brandowl-play >ul").owlCarousel({
			items : 6,
			itemsDesktop : [1199, 5],
	        itemsDesktopSmall : [991,4],
	        itemsTablet : [767, 3],
	        itemsMobile : [479, 1],
		    navigation : true,
		     afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		    }
		});
		if($('.category-brand-slider').length>0){
			$('.category-brand-slider').each(function(){
			  $(this).find('.wrap-item').owlCarousel({
				items: 1,
				itemsCustom: [
				[0, 2],
				[480, 2],
				[768, 1],
				[992, 1],
				[1200, 1]
				],
				pagination: false,
				navigation: true,
				autoPlay:true,
				navigationText:['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>']
			  });
			});
		}
	});
});
</script>