<span> <h3> สถานะการจัดส่ง </h3> </span>
<a href="<?php echo  'https://www.scgexpress.co.th/tracking/?tracking_search='. $block->getTrackingNumber(); ?>" target = "_blank">
       <span><h4>
       <?php 
       $trackingNumber = $block->getTrackingNumber();
       echo ($trackingNumber == "" ? 'ยังไม่ได้ส่ง' : $trackingNumber);
       ?> 
       </span></h4>
</a>
